<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginCheck">
		SELECT USER_PWD FROM MEMBER WHERE USER_ID=?
	</entry>
	<entry key="loginMember">
		SELECT * FROM MEMBER WHERE USER_ID = ? AND USER_PWD = ? AND STATUS = 'Y'
	</entry>
	<entry key="checkKakao">
		SELECT * FROM MEMBER WHERE EMAIL=? AND LOGIN_TYPE=?
	</entry>
	<entry key="findId">
		SELECT * FROM MEMBER WHERE USER_NAME=? AND EMAIL=?
	</entry>
	<entry key="findPwd">
		SELECT * FROM MEMBER WHERE USER_ID=? AND EMAIL=?
	</entry>
	<entry key="changePwd">
		UPDATE MEMBER SET USER_PWD = ? WHERE USER_ID = ?
	</entry>
	<entry key="checkNaver">
		SELECT * FROM MEMBER WHERE EMAIL=? AND LOGIN_TYPE=? AND USER_NAME=?
	</entry>
	<entry key="checkId">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE USER_ID = ? AND STATUS = 'Y'
	</entry>
	<entry key="checkNickname">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE NICKNAME = ? AND STATUS = 'Y'
	</entry>
	<entry key="checkEmail">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE EMAIL = ? AND STATUS = 'Y'
	</entry>
	<entry key="MemberList">
		SELECT
			B.*
		FROM (SELECT A.* , ROWNUM AS ROWN
			FROM 
				(SELECT * FROM MEMBER) A
		) B
		WHERE B.ROWN BETWEEN ? AND ?
		AND B.STATUS != 'N'
	</entry>
	<entry key="MemberListWithUserId">
		SELECT 
			*
		FROM
			MEMBER
		WHERE
			USER_ID = ?
	</entry>
	<entry key="MemberListWithEmail">
		SELECT 
			*
		FROM
			MEMBER
		WHERE
			EMAIL = ?
	</entry>
	<entry key="getMemberListCount">
		SELECT COUNT(USER_NO) AS COUNT FROM MEMBER
	</entry>
	<entry key="enrollMember">
		INSERT INTO MEMBER(USER_NO, USER_ID, USER_PWD, USER_NAME, NICKNAME, BIRTHDAY, GENDER, EMAIL, ADDRESS,LOGIN_TYPE)
				 VALUES(SEQ_UNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?, ?, ?)
	</entry>
	
	<entry key="userDelete">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS != 'N'
	</entry>
	<entry key="BlackList">
		SELECT
			B.*
		FROM (SELECT A.* , ROWNUM AS ROWN
			FROM 
				(SELECT * FROM MEMBER WHERE USER_REPORT >= 5) A
		) B
		WHERE B.ROWN BETWEEN ? AND ?
	</entry>
	<entry key="BlackListWithUserNo">
		SELECT USER_NAME
		  FROM MEMBER
	</entry>
	<entry key="BlackListWithEmail">
		SELECT EMAIL
		 FROM MEMBER
	</entry>
	<entry key="getBlackListCount">
		SELECT COUNT(USER_NO) AS COUNT FROM MEMBER
	</entry>
	<entry key="blackUpdate">
		UPDATE MEMBER A
		   SET A.USER_REPORT = '0'
		 WHERE A.USER_NO = ?
	</entry>
	<entry key="MemberListDelete">
		UPDATE MEMBER A
		SET A.STATUS = 'N'
		WHERE A.USER_NO = ?
		AND A.STATUS != 'N'
	</entry>
	<entry key="profile">
		SELECT NICKNAME, SUBSTR((EXTRACT(YEAR FROM SYSDATE)-SUBSTR(BIRTHDAY, 1, 4)+1), 1, 1)||'0대' AS AGE
				, SUBSTR(ADDRESS, 1,INSTR(ADDRESS, ' ', 1, 2)-1) AS ADDRESS, NVL(INTRODUCTION, '작성된 소개글이 없습니다.') AS INTRODUCTION
		FROM MEMBER
		WHERE NICKNAME = ? AND STATUS = 'Y'
	</entry>
	
</properties>