<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="loginCheck">
		SELECT USER_PWD FROM MEMBER WHERE USER_ID=?
	</entry>
	<entry key="loginMember">
		SELECT * FROM MEMBER WHERE USER_ID = ? AND USER_PWD = ? AND STATUS = 'Y'
	</entry>
	<entry key="checkKakao">
		SELECT * FROM MEMBER WHERE EMAIL=? AND LOGIN_TYPE=?
	</entry>
	<entry key="findId">
		SELECT * FROM MEMBER WHERE USER_NAME=? AND EMAIL=?
	</entry>
	<entry key="findPwd">
		SELECT * FROM MEMBER WHERE USER_ID=? AND EMAIL=?
	</entry>
	<entry key="changePwd">
		UPDATE MEMBER SET USER_PWD = ? WHERE USER_ID = ?
	</entry>
	<entry key="checkNaver">
		SELECT * FROM MEMBER WHERE EMAIL=? AND LOGIN_TYPE=? AND USER_NAME=?
	</entry>
	<entry key="checkId">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE USER_ID = ? AND STATUS = 'Y'
	</entry>
	<entry key="checkNickname">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE NICKNAME = ? AND STATUS = 'Y'
	</entry>
	<entry key="checkEmail">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE EMAIL = ? AND STATUS = 'Y'
	</entry>
	<entry key="MemberList">
		SELECT
			B.*
		FROM (SELECT A.* , ROWNUM AS ROWN
			FROM 
				(SELECT * FROM MEMBER) A
		) B
		WHERE B.ROWN BETWEEN ? AND ?
		AND B.STATUS != 'N'
	</entry>
	<entry key="MemberListWithUserId">
		SELECT 
			*
		FROM
			MEMBER
		WHERE
			USER_ID = ?
	</entry>
	<entry key="MemberListWithEmail">
		SELECT 
			*
		FROM
			MEMBER
		WHERE
			EMAIL = ?
	</entry>
	<entry key="getMemberListCount">
		SELECT COUNT(USER_NO) AS COUNT FROM MEMBER
		WHERE B.STATUS != 'N'
	</entry>
	<entry key="enrollMember">
		INSERT INTO MEMBER(USER_NO, USER_ID, USER_PWD, USER_NAME, NICKNAME, BIRTHDAY, GENDER, EMAIL, ADDRESS,LOGIN_TYPE)
				 VALUES(SEQ_UNO.NEXTVAL, ?, ?, ?, ?, ?, ?, ?, ?, ?)
	</entry>
	
	<entry key="userDelete">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS != 'N'
	</entry>
	<entry key="BlackList">
		SELECT
			B.*
		FROM (SELECT A.* , ROWNUM AS ROWN
			FROM 
				(SELECT * FROM MEMBER WHERE USER_REPORT >= 5) A
		) B
		WHERE B.ROWN BETWEEN ? AND ?
	</entry>
	<entry key="BlackListWithUserNo">
		SELECT USER_NAME
		  FROM MEMBER
	</entry>
	<entry key="BlackListWithEmail">
		SELECT EMAIL
		 FROM MEMBER
	</entry>
	<entry key="getBlackListCount">
		SELECT COUNT(USER_NO) AS COUNT FROM MEMBER
		WHERE STATUS = 'B' 
	</entry>
	<entry key="blackUpdate">
		UPDATE MEMBER A
		   SET A.USER_REPORT = '0'
		 WHERE A.USER_NO = ?
	</entry>
	<entry key="MemberListDelete">
		UPDATE MEMBER A
		SET A.STATUS = 'N'
		WHERE A.USER_NO = ?
		AND A.STATUS != 'N'
	</entry>
	
	<entry key="searchNickname">
	SELECT USER_NO,NICKNAME,SUBSTR(ADDRESS, 1,INSTR(ADDRESS, ' ', 1, 2)-1) AS ADDRESS,ENROLL_DATE
    FROM MEMBER
    WHERE STATUS='Y'
	</entry>
	
	<entry key="findNickname">
	SELECT USER_NO,NICKNAME,SUBSTR(ADDRESS, 1,INSTR(ADDRESS, ' ', 1, 2)-1) AS ADDRESS,ENROLL_DATE
    FROM MEMBER
    WHERE STATUS='Y' AND NICKNAME = ?
	</entry>

	<entry key="profile">
		SELECT NICKNAME, SUBSTR((EXTRACT(YEAR FROM SYSDATE)-SUBSTR(BIRTHDAY, 1, 4)+1), 1, 1)||'0대' AS AGE
				, SUBSTR(ADDRESS, 1,INSTR(ADDRESS, ' ', 1, 2)-1) AS ADDRESS, NVL(INTRODUCTION, '작성된 소개글이 없습니다.') AS INTRODUCTION
        		,COUNT(FRIEND_NO) AS RECOMMENDED
		FROM MEMBER
		LEFT JOIN MEMBER_RECOMMEND ON(USER_NO = FRIEND_NO)
		WHERE NICKNAME = ? AND STATUS = 'Y'
		GROUP BY NICKNAME, SUBSTR((EXTRACT(YEAR FROM SYSDATE)-SUBSTR(BIRTHDAY, 1, 4)+1), 1, 1)||'0대', SUBSTR(ADDRESS, 1,INSTR(ADDRESS, ' ', 1, 2)-1), NVL(INTRODUCTION, '작성된 소개글이 없습니다.')
	</entry>
	
	<!-- 개인정보수정 -->
	<entry key="myInfoUpdate">
		UPDATE MEMBER 
		SET NICKNAME = ?
			,EMAIL = ?
			,ADDRESS = ?
			,INTRODUCTION = ?
		WHERE USER_ID = ?
	</entry>
	
	<entry key="myInfoSelectMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
		AND STATUS = 'Y'
	</entry>
	
	<!-- 비밀번호 수정 -->
	<entry key="updatePwd">
		UPDATE MEMBER
		SET USER_PWD = ?
		WHERE USER_ID = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="checkRecommend">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER_RECOMMEND
		WHERE FRIEND_NO = (SELECT USER_NO
		                    FROM MEMBER
		                    WHERE NICKNAME = ?)
		      AND MY_NO = (SELECT USER_NO
		                    FROM MEMBER
		                    WHERE NICKNAME = ?)
	</entry>
	
	<entry key="recommend">
		INSERT INTO MEMBER_RECOMMEND VALUES(
			(SELECT USER_NO FROM MEMBER WHERE NICKNAME = ?),
			(SELECT USER_NO FROM MEMBER WHERE NICKNAME = ?)
		)
	</entry>
	
	<entry key="getRecommend">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER_RECOMMEND
		WHERE FRIEND_NO = (SELECT USER_NO
		                    FROM MEMBER
		                    WHERE NICKNAME = ?)
	</entry>
	
	<!-- 회원 정보 수정의 닉네임 중복 검사 -->
	<entry key="checkNick">
		SELECT COUNT(*) "COUNT"
		FROM MEMBER
		WHERE NICKNAME = ? 
		AND STATUS = 'Y'
	</entry>
	
	<!-- 좋아요한 게시글 갸수 구허가 -->
	<entry key="likeSelectListCount">
		SELECT COUNT(*) COUNT
		FROM BOARD_LIKE
		WHERE USER_NO = ?
	</entry>
	
	<entry key="unrecommend">
		DELETE FROM MEMBER_RECOMMEND
		WHERE MY_NO = (SELECT USER_NO FROM MEMBER WHERE NICKNAME = ?)
				AND FRIEND_NO = (SELECT USER_NO FROM MEMBER WHERE NICKNAME = ?)
	</entry>
</properties>