<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="getKeyword">
		SELECT SEARCH_TITLE AS KEYWORD
		FROM (SELECT SEARCH_TITLE, COUNT
        		FROM MOST_SEARCH
        		ORDER BY COUNT DESC)
		<![CDATA[where rownum <= 10]]>
	</entry>
</properties>